{% extends 'base.html' %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% block title %}change password{% endblock %}
{% block content %}
<div class="container">
<div class="row">
<div class="col-md-9 m-auto">
<br>
  <form method='POST' class="card grad container">
      <h1 class='h2 text-center one'>Change Password</h1>
          {% csrf_token %}
      <div class="one">
          {% bootstrap_form form %}
    <div>
    <br>
    <div class="form-group">
    <button class="ui huge primary button">Done</button>
       <br>
    </div>
  <form>
</div>
</div>
</div>
<br>
{% include "footer.html" %}
{% endblock %}
