{% extends 'base.html' %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% block title %}Password rest{% endblock %}
{% block content %}
<style>
p {
  color: #4b5156;
}

a {
    font-weight: 600;
}
input[type=email]{
        width: 85%;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #3498db;
        padding: 10px 5px;
        outline: none;
        color: black;
        border-radius: 24px;
        transition: 0.25s;
}
input[type=email]:focus {
        width: 93%;
        border-color: #2ecc71
}
label {
      padding-top: 10px !important;
      display: block;
      color: rgb(105, 192, 105);
      font-weight: bold;
}
button {
  width: 96%;
  height: 33px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #5734ca 20%,#a178f8);
  color: #FFFFFF;
  font-weight: 600;
  font-size: 1rem;
  margin-top: 20px;
  box-shadow: 2px 2px 30px rgba(161, 120, 248, 0.1);
}
button:active{
  transform: scale(1.1);
}
</style>
<div class="container">
<div class="row">
<div class="col-md-9 m-auto">
<br>
  <form method='POST' class="card grad container">
      <h1 class='h2 text-center one'>Password reset</h1>
   <p>Forgotten your password? Enter your email <br>address below, and we’ll email instructions for setting a new one</p>
          {% csrf_token %}
      <div class="one">
          {% bootstrap_form form %}
    <div>
    <br>
    <div class="form-group">
    <button class="">Reset my Password</button>
       <br>
    </div>
  <form>
</div>
</div>
</div>
<br>
{% include "footer.html" %}
{% endblock %}m
