<div class="ui inverted vertical footer segment">
      <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
            <h4 class="ui inverted header text-primary">About</h4>
            <div class="ui inverted link list">
              <a href="#" class="item">Sitemap</a> 
              <a href="#" class="item">Terms</a>       
              <a href="#" class="item">Privacy & Policy</a>
              <a href="#" class="item">Gazebo Plans</a>             
           </div>
        </div>                
              <div class="three wide column">
            <h4 class="ui inverted header text-primary">Contact Us</h4>
              <div class="ui inverted link list"> 
              <a href="#" class="item"><i class="fab fa-facebook"></i></a>
              <a href="https://twitter.com/Abdljbbar1/status/1433618511398678530?s=20" class="item"><i class="fab fa-twitter"></i></a>
              <a href="https://www.instagram.com/invites/contact/?i=1xu4tkg5bv6xo&utm_content=kbxtd2e" class="item"><i class="fab fa-instagram"></i></a>                
              <a href="https://github.com/frx-Abdljbbar-code" class="item"><i class="fab fa-github"></i></a>
            </div>
          </div>       
     <div class="three wide column">
      <h4 class="ui inverted header text-primary">Support</h4>
       <div class="ui inverted link list">
             <a href="#" class="item">Eshop Support</a>
             <a href="https://paypal.com" class="item">Paypal</a>
             <a href="https://stripe.com" class="item">Stripe</a>
             <a href="{% url 'home:contact' %}" class="item">Contact me</a>
         </div>
         </div>
          <div class="seven wide column">
            <h4 class="text-center ui inverted header text-primary">Easy shop</h4>
            <p class="text-center mb-1">&copy; All rights reserved Abdljbbar 2020-2021</p>
          </div>
        </div>
      </div>
