{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Cart: all items{% endblock %}
{% block content %}

{% include "navbar.html" %}
<br>
{% if items %}
<style>
body {
    background: #ddd;
    min-height: 100vh;
    vertical-align: middle;
    font-family: sans-serif;
    font-size: 0.8rem;
    font-weight: bold
}
.asteriskField {
  color: #ddd;
}
.title {
    margin-bottom: 5vh
}

.card {
    margin: auto;
    max-width: 950px;
    width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent
}

@media(max-width:767px) {
    .card {
        margin: 3vh auto
    }
}

.cart {
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem
}

@media(max-width:767px) {
    .cart {
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem
    }
}

.summary {
    background-color: #ddd;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 1vh;
    color: rgb(65, 65, 65)
}




@media(max-width:767px) {
    .summary {
        border-top-right-radius: unset;
        border-bottom-left-radius: 1rem
    }
}

.summary .col-2 {
    padding: 0
}

.summary .col-10 {
    padding: 0
}

.row {
    margin: 0
}

.title b {
    font-size: 1.5rem
}

.main {
    margin: 0;
    padding: 2vh 0;
    width: 100%
}

.col-2,
.col {
    padding: 0 1vh
}


a {
    padding: 0 1vh
}

.close {
    margin-left: auto;
    font-size: 0.7rem
}




.img1 {
    width: 3.5rem
}

.back-to-shop {
    margin-top: 4.5rem
}

h5 {
    margin-top: 4vh
}

hr {
    margin-top: 1.25rem
}

form {
    padding: 2vh 0
}

select {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 0.6vh 0.3vh;
    margin-bottom: 2vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247)
}

input {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 1vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247)
}
@media(max-width:767px) {
    input {
        margin-bottom: 4.3vh;
    }
}

input:focus::-webkit-input-placeholder {
    color: transparent
}

.btn {
    background-color: #000;
    border-color: #000;
    color: white;
    width: 100%;
    font-size: 0.7rem;
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 0
}

.btn:focus {
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none
}

.btn:hover {
    color: white
}

a {
    color: black
}

a:hover {
    color: black;
    text-decoration: none
}

#code {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center
}
</style>

<body oncontextmenu='return false' class='snippet-body'>

  <div class="card">
    <div class="row">
      <div class="col-md-8 cart">
        <div class="title">
          <div class="row">
            <div class="col">
              <h4><b>Shopping Cart</b></h4>
            </div>
            <div class="col align-self-center text-right text-muted">{{order.get_cart_items}} items</div>
          </div>
        </div>

 {% for item in items %}
     {% if item.quantity <= 0 %}
       <p>no item exit here</p>
     {% else %}
        <div class="row border-top border-bottom">
          <div class="row main align-items-center">
            <div class="col-2"><img class="img1 img-fluid" src="{{item.product.image.url}}" loading="lazy"></div>
            <div class="col">
              <div class="row text-muted">Category: {{item.product.category}}</div>
              <br><div class="row">{{item.product.name}}</div>
            </div>

       <div class="col"> 
	<a href="#" data-product="{{item.product.id}}" data-action="remove" class="update-cart">-</a>
        <a href="#" class="border">{{item.quantity}}</a>
        <a href="#" data-product="{{item.product.id}}" data-action="add" class="update-cart">+</a>
        </div>

            <div class="col">&dollar; {{item.get_total|floatformat:2}} 
	<a href="#" data-product="{{item.product.id}}" data-action="remove" class="update-cart">
           <span class="close">&#10005;</span>
        </a>
       </div>
          </div>
        </div>
     {% endif %}
    {% endfor %}
        <div class="back-to-shop"><a href="{% url 'store:menu' %}">&leftarrow;<span class="text-muted">Back to shop</span></a></div>
      </div>
      <div class="col-md-4 summary">
        <div>
          <h5><b>Summary</b></h5>
        </div>
        <hr>
        <div class="row">
          <div class="col" style="padding-left:0;">ITEMS {{order.get_cart_items}}</div>
          <div class="col text-right">&dollar; {{order.get_cart_total|floatformat:2}}</div>
        </div>
        <form method="post" novalidate>
	 {% csrf_token %}
          <p>SHIPPING</p>

        
    <div id="div_id_country" class="form-group">
        
            <label for="id_delivery_option_0" class=" requiredField">
               Delivery option <span class="asteriskField">:</span>
            </label>
        
            
     <div class="">                   
        <select name="delivery_option" class="lazyselect form-control" required id="id_delivery_option_0">

	   <option value="S">Standard Delivery $5</option>

	  <option value="P">Premium Delivery $10</option>
	</select>
      </div></div>

         <!-- form.delivery_option|as_crispy_field -->

          {{ form.add1|as_crispy_field }}
          {{ form.add2|as_crispy_field }}             
      <div class="row">
        <div class="col-6">
          {{ form.city|as_crispy_field }}
        </div>
        <div class="col-6">
          {{ form.country|as_crispy_field }}
        </div>
       </div>
          {{ form.zip_code|as_crispy_field }}
        <div class="invalid-feedback">
           Zip code required.
        </div>
           {{ form.number_phone|as_crispy_field }}
       <label>

       <div class="row">
   <div class="col-6">
<!-------------Stripe Option --------------->
      <div class="form-check">
        <input type="radio" class="form-check-input1" name="payment_option" value="S"  id="id_payment_option_0" required>
        <label class="form-check-label" for="id_payment_option_0">
            <img class="cccard" src="{% static 'images/card-mark.png' %}">
        </label>
     </div>
<!--------------------End-------------------->
</div>
<div class="col-6">
<!--------------Paypal Option------------->
     <div class="form-check">
        <input type="radio" class="form-check-input1" name="payment_option" value="P"  id="id_payment_option_1" required>
        <label class="form-check-label" for="id_payment_option_1">
            <img class="pppay" src="{% static 'images/paypal-mark.jpg' %}">
        </label>
     </div>
<!-------------8------End-------------------->
</div>
</div>

         <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
          <div class="col">TOTAL PRICE</div>
          <div class="col text-right">&dollar; 137.00</div>
         </div> <button type="submit" class="btn">CHECKOUT</button>
       </form>
      </div>
    </div>
</div>


{% else %}
{% include "store/cartEmpty.html" %}

</div>
</div>
</body>
{% endif %}
<br>
{% include "footer.html" %}
{% endblock %}

